/*
* File: style.css
* Author: Varga Vivien
* Copyright: 2023, Varga Vivien
* Group: Szoft I/2/E
* Date: 2023-02-23
* Github: https://github.com/VivienCarmen/emp1.git
* Licenc: GNU GPL
*/
#about {
    background-color: white;
    border: 3px solid gold;
    text-align: center;
    position: fixed;
    width: 600px;
    top: 100px;
    right: -200px;
    transform: rotate(45deg);
    font-size: 20px;
}

table{
    background-color: aqua;
}